/* $font-stack: Helvetica,sans-serif;
$primary-color: #333;
$font-color:#DDD;

body{

    font: 100% $font-stack;
    background-color: $primary-color;

}


%fuente-basica{
    border: 1px solid grey;
    padding:10px;
    border-radius:10px;
    color:$font-color;
}

.resultados{
    ul{
	li{
	    list-style:none;
	    width:50vw;
	    @extend %fuente-basica;
	}
    }
} */

@font-face {
    font-family: pokemon;
    src: url(../media/pokemon/PokemonSolid.ttf);
  }
body {
    background: url(../media/fondo3.jpg) fixed ;
    background-size: cover;


    #portada {
        margin-left: 38%;
        margin-bottom: 2%;

        img {
            width: 35%;
            height: 35%;
        }
    }

    #texto {
        width: 250px;
        border-radius: 10px;
    }

    #boton {
        border-radius: 10px;
        width: 100px;
        margin-left: 5%;
        
          background: rgba(144,184,24,1);
        background: -moz-linear-gradient(left, rgba(144,184,24,1) 0%, rgba(223,250,23,1) 27%, rgba(245,135,17,1) 53%, rgba(255,10,10,1) 73%, rgba(224,33,126,1) 91%, rgba(224,33,126,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(144,184,24,1)), color-stop(27%, rgba(223,250,23,1)), color-stop(53%, rgba(245,135,17,1)), color-stop(73%, rgba(255,10,10,1)), color-stop(91%, rgba(224,33,126,1)), color-stop(100%, rgba(224,33,126,1)));
        background: -webkit-linear-gradient(left, rgba(144,184,24,1) 0%, rgba(223,250,23,1) 27%, rgba(245,135,17,1) 53%, rgba(255,10,10,1) 73%, rgba(224,33,126,1) 91%, rgba(224,33,126,1) 100%);
        background: -o-linear-gradient(left, rgba(144,184,24,1) 0%, rgba(223,250,23,1) 27%, rgba(245,135,17,1) 53%, rgba(255,10,10,1) 73%, rgba(224,33,126,1) 91%, rgba(224,33,126,1) 100%);
        background: -ms-linear-gradient(left, rgba(144,184,24,1) 0%, rgba(223,250,23,1) 27%, rgba(245,135,17,1) 53%, rgba(255,10,10,1) 73%, rgba(224,33,126,1) 91%, rgba(224,33,126,1) 100%);
        background: linear-gradient(to right, rgba(144,184,24,1) 0%, rgba(223,250,23,1) 27%, rgba(245,135,17,1) 53%, rgba(255,10,10,1) 73%, rgba(224,33,126,1) 91%, rgba(224,33,126,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90b818', endColorstr='#e0217e', GradientType=1 );
    }

    .busqueda {
        #busquedaform {
            width: 400px;
            display: block;
            margin: 0 auto;
        }

    }
    #cargando{
        img{
            padding-bottom: 2.5%;
            display: block;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
        }   
    }

    .resultados {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: 5%;


        .pokemon {
            border-radius: 10px;
            margin-left: 2.5%;
            margin-top: 5%;
            margin-right: 2.5%;

            img {
                padding-bottom: 2.5%;
                display: block;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5%;
            }

            p{
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                font-family: pokemon;
                /* -webkit-text-stroke: 0.5px white; */
                letter-spacing: 1.5px;
            }

            h1 {
                text-align: center;
                font-weight: 800;
                font-size: 26px;
                font-family: pokemon;
                -webkit-text-stroke: 0.5px white;
                letter-spacing: 1.5px;
            }

            h2{
                text-align: center;
                font-weight: 600;
                font-size: 20px;
                font-family: pokemon;
                -webkit-text-stroke: 0.5px white;
                letter-spacing: 1.5px;
            }

            .informacion{
                display: grid;
                grid-template-columns: 1fr 1fr ;
                margin-top: 10%;
            }
        }

    }






}