/*
CSS Base for the Miskatonic Herald
*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;

    /*background-color:#323232;*/
    background-image:url("https://picsum.photos/1600/900");
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}


/*
* CSS for items
*/

h1{
  text-align: center;
}

items{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(65, 53, 45, 0.7);
  width: 1000px;
  height: 700px;
}

item{
  display: grid;
  justify-content: center;
}

/*
* CSS for body
*/

button{
  font-family: 'OuroborosRegular';
  color: #ffffff;
  text-align: center;
  align-items: center;
  width: 400px;
  height: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

button:hover {
  transform: scale(1.02);
  transition: 1s;
  border-color: yellow;

}

button:active {

    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}


/*
* CSS for steps
* - Includes the opacity for the
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6, 75px);

}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {
    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}

.estabaEscondido{
  /*
   * Fragmentos perdidos
   * ^(;,;)^
   */
}


/*Progress*/
/*
* CSS for ProgressBars
*/

progress{
  margin-left: 15%;

}



finalmsg{

    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}

@keyframes neon {

    /*
     * Fragmentos perdidos
     * ^(;,;)^
     */
}
