body {
  font: 100% Helvetica, sans-serif;
  background-color: #bfb496; }

.celdas{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 5%;

}

.individual{
  border-radius: 18px 18px 18px 18px;
  -moz-border-radius: 18px 18px 18px 18px;
  -webkit-border-radius: 18px 18px 18px 18px;
  border: 3px solid #ffffff;
  height: 475px;
  margin: 3%;

}

.individual img{
  padding-bottom: 2.5%;
  display: block;
  width: auto;
  max-width: 97.5%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}

.individual p{
  text-align: center;
  font-weight: 800;
  background-color: #ffffff;
}

.boton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-decoration: none;
  padding: 15px;
  font-family: arial;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #bfb496;
  
} 

#ubi{
  position: fixed;
  width: 80%;
  height: 80%;
  top: 20%;
  left: 30%;
  margin-top: -5%;
  /* Negative half of height. */
  margin-left: -20%;
  /* Negative half of width. */
  border: 5px solid black;
  visibility: hidden;
}



#ubi *{
  margin: 0px;
  padding: 0px;
}

.individual input:hover{
    color: black;
    background-color: #ffffff;
    text-decoration: none;
}
/* .resultados ul li {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  color: #DDD; }

.resultados ul li {
  list-style: none;
  width: 50vw;
} */

h1{
  text-align: center;
  font: oblique bold 120% cursive;
  font-size: 40px;
}

#nombre{
  width: 26.5%;
}

#busquedaform{
  margin-top: 5%;
}

#seccionFalla{
  margin-bottom: 1%;
}

#principalInfantil{
  margin-top: 1%;
  font: oblique bold 120% cursive;
}

#seleccionSec{
  width: 30%;
}

#anoMin, #anoMax{
  width: 14.5%;
}

label{
   font: oblique bold 120% cursive;
  font-size: 24px;
}
