.camino{
    width: 100%;
    height:  100px;
    background-color: black;
}


.bloque{

}

.lleno1{
  width: 100%;
  height:  100px;
  background: url("../imagenes/rayas.jpg");
  background-color: black;
}

.lleno2{
  width: 100%;
  height:  100px;
  background: url("../imagenes/logo.png") center no-repeat;
  background-color: black;
  background-size: 100px;
}

.lleno3{
  width: 100%;
  height:  100px;
  background: url("../imagenes/sullivan.png") center no-repeat;
  background-color: black;
  background-size: 100px;
}

.lleno4{
  width: 100%;
  height:  100px;
  background: url("../imagenes/boo.png") center no-repeat;
  background-color: black;
  background-size: 60px;
}

.lleno5{
  width: 100%;
  height:  100px;
  background: url("../imagenes/randal.gif") center no-repeat;
  background-color: black;
  background-size: 100px;
}

.principio{
    width: 100%;
    height:  100px;
    background: url("../imagenes/images.jpeg") center no-repeat;
    background-color: black;
    background-size: 200px;

}
.mapa{
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.wazowski{
    width: 100%;
    height:  100px;
    background: url("../imagenes/wazowski.png") no-repeat center;
    background-color: black;
    background-size: 72px;

}
.piedra{
    width: 100%;
    height:  100px;
    background: url("../imagenes/rayas.jpg")  center;
    background-color: black;
    background-size: 100%;
}

.huellas{
    width: 100%;
    height:  100px;
    background: url("../imagenes/pisado.gif") no-repeat center;
    background-color: black;
    background-size: 30px;
}

.randal{
    width: 100%;
    height:  100px;
    background: url("../imagenes/randal.gif") no-repeat center;
    background-color: black;
    background-size: 72px;

}
.sullivan{
    width: 100%;
    height:  100px;
    background: url("../imagenes/sullivan.png") no-repeat center;
    background-color: black;
    background-size: 72px;
}

body{
    background-color: black;
}
