h2:nth-child(2){
  color: red;
}

h2:nth-child(5)::first-letter{
  color: red;
}

li:nth-child(3){
  color: green;
}

li{
  list-style: none;
}

li:nth-child(even):hover::after{
  content: " - Alabado sea el Monstruo Espagetti Volador";
}

li:nth-child(odd):hover::before{
  content: "Satán ! - ";
}
